body {
    width: 100vw;
    height: 100vh;    
    font-family: 'Roboto', sans-serif;
}

.header, .footer {
    display: flex;
    align-items: center;
    width: 100%;
    height: 7%;
    background-color: #EDEEC0;
}

.section1,
.section2,
.section3,
.section4 {
    width: 100%;
    min-height: 22.5%;
}

.section1 {
    padding-top: 3%;
    width: 80%;
    padding-right: 15%;
    padding-left: 15%;
    padding-bottom: 3%;
}

.headerLogo {
    font-weight: 700;
    padding-left: 50px;
    font-size: x-large;
}

.links {
    font-size: small;
    margin-left: auto;
    padding-right: 50px;
    color: #221F07;
    font-weight: 500;
}

.hLink {
    margin-right: 30px;
    
}

.hl {
    text-decoration: none;
    color: #221F07;
}

.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #221F07;
    color: #D0C88E;
    box-shadow: 0px 3px 25px #221F07, 0 4px 15px 0px #ccc
}

.s1text {
    width: 300px;
    height: 255px;
}
.s1btn {
    background: #BDC7C0;
	color: #221F07;
	border: none;
	padding: 10px;
	font: inherit;
	cursor: pointer;
    border-radius: 10px;
    font-weight: 900;
}

.s1ImgDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #BDC7C0;
    border-radius: 10px;
    width: 255px;
    height: 255px;
    margin-right: 25%;
}

.s1img {
    width: 250px;
    height: 250px;
    border-radius: 8px;
}

.s1h1 {
    font-weight: 700;
    font-size: 40px;
    padding-bottom: 20px;
}

.s1h4 {
    padding-bottom: 20px;
}

.section2 {
    background-color: #BDC7C0;
}

.s2h1 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    font-size: 20px;
    font-weight: 600;
}

.b1container {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #221F07;
    border-radius: 10px;
    transition: 0.5s;
    cursor: pointer;
}

.b1container:hover {
    width: 250px;
    height: 250px;
}

.s2boximg {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 0);
    transition: 0.5s;
}

.s2boximg:hover {
    width: 250px;
    height: 250px;
    border: 3px solid rgb(0, 0, 0);
}

.boxes {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}